<div class="size-full relative p-5 shadow-black">
  <div class="absolute inset-0 flex items-center justify-center z-10">
    <button class="button shadow-lg" (click)="selectAgent(winnerdialog)">
      Choose Agent
    </button>
    <dialog #winnerdialog class="p-4 bg-teal-800 dialog" (close)="onClose($event)">
      <h1 class="text-white">
        {{ selectedAgent?.name }}
      </h1>
      <p class="text-gray-100">
        {{ selectedAgent?.quote }}
      </p>
    </dialog>
  </div>
  <div class="absolute inset-0 overflow-hidden shadow-inner">
    <div class="absolute top-0 bottom-0 right-0 w-[200%] background-horizontal stripe-background">

    </div>
  </div>
</div>
