@if (!expanded) {
  <div [ngClass]="expanded ? '' : 'grid grid-cols-subgrid col-span-3'" class="" (click)="toggleExpand()">
    <div>
      <strong class="block">Name</strong>
      <p>{{ agent.name }}</p>
    </div>
    <div class="overflow-hidden">
      <strong class="block">Quote</strong>
      <p class="text-ellipsis whitespace-nowrap overflow-hidden">{{ agent.quote }}</p>
    </div>
    <div class="w-6 flex flex-col items-center justify-center">
      <app-garbage-can-svg class="object-contain size-6" (click)="deleteAgent()" />
    </div>
  </div>
} @else {
  <div class="col-span-3 flex flex-col gap-2">
    <h1 (click)="toggleExpand()" class="text-xl"><strong>{{agent.name}}</strong></h1>
    <q>{{agent.quote}}</q>
    @if (agent.introspective) {
      <p class="text-teal-500"><em>{{agent.introspective}}</em></p>
    }
    <div class="flex flex-row-gap-2 h-8">
      <app-garbage-can-svg (click)="deleteAgent()" />
    </div>
  </div>
}
